<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="full" href="home" color="light">
      home
    </ion-button>
    <ion-button expand="full" href="login" color="light">
      login
    </ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>RegristrApp</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="container">
      <ion-item>Ingrese su usuario</ion-item>
      <ion-item>
        <ion-input
        fill="solid"
        label="Usuario"
        labelPlacement="floating"
        helperText="Ingrese un nombre de usuario valido"
        errorText="Usuario invalido"
        [counter]="true"
        maxlength="8"
        minLenght="3"
        ngModel>
      </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
        type="password"
        fill="solid"
        label="Contraseña"
        labelPlacement="floating"
        helperText="Ingrese una contraseña válida"
        errorText="Contraseña inválida"
        [counter]="true"
        maxlength="4"
        ngModel>
        </ion-input>
      </ion-item>

      <ion-button fill="outline">Ingresar</ion-button>
      <ion-button href="cambia-contra" fill="outline">cambia contraseña</ion-button>
      <ion-button href="login" fill="outline">volver</ion-button>
    </div>
  </ion-content>
</div>