<ion-alert
  trigger="ingresa_finalizado"
  header="Exito"
  subHeader="Primer paso finalizado"
  message="Siga la recuperación de la cuenta en su correo"
></ion-alert>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>RegristrApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    
    <div>
      <ion-item>a</ion-item>
      <ion-item>
        <ion-input
        fill="solid"
        label="Usuario"
        labelPlacement="floating"
        helperText="Ingrese un nombre de usuario valido"
        errorText="Usuario invalido"
        [counter]="true"
        maxlength="8"
        minLenght="3"
        ngModel>
        </ion-input>
      </ion-item>

      <ion-button fill="outline" id="ingresa_finalizado">Ingresar</ion-button>
      <ion-button href="login" fill="outline">volver</ion-button>
    </div>
    
  </ion-content>
</div>